n8n_master_workflow_v10_compat.json
{
  "name": "Floxync_V10_Compatibility_Final",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "marketing-v10",
        "options": {}
      },
      "name": "SaaS_Webhook_Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-500, 400],
      "id": "webhook-v10"
    },
    {
      "parameters": {
        "operation": "select",
        "table": "platform_config",
        "filters": {
          "conditions": [
            { "key": "key", "operator": "equal", "value": "marketing_keys" }
          ]
        }
      },
      "name": "Get_Global_App_Keys",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-280, 400],
      "id": "global-keys-v10"
    },
    {
      "parameters": {
        "operation": "select",
        "table": "user_credentials",
        "filters": {
          "conditions": [
            { "key": "user_id", "operator": "equal", "value": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"user_id\"]}}" },
            { "key": "provider", "operator": "equal", "value": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"platform\"]}}" }
          ]
        }
      },
      "name": "Get_User_Token",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-60, 400],
      "id": "user-token-v10"
    },
    {
      "parameters": {
        "conditions": { "string": [ { "value1": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"platform\"]}}", "value2": "instagram" } ] }
      },
      "name": "Is_Instagram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [150, 0]
    },
    {
      "parameters": {
        "conditions": { "string": [ { "value1": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"platform\"]}}", "value2": "facebook" } ] }
      },
      "name": "Is_Facebook?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [150, 140]
    },
    {
      "parameters": {
        "conditions": { "string": [ { "value1": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"platform\"]}}", "value2": "threads" } ] }
      },
      "name": "Is_Threads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [150, 280]
    },
    {
      "parameters": {
        "conditions": { "string": [ { "value1": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"platform\"]}}", "value2": "tiktok" } ] }
      },
      "name": "Is_TikTok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [150, 420]
    },
    {
      "parameters": {
        "conditions": { "string": [ { "value1": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"platform\"]}}", "value2": "youtube" } ] }
      },
      "name": "Is_YouTube?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [150, 560]
    },
    {
      "parameters": {
        "conditions": { "string": [ { "value1": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"platform\"]}}", "value2": "blogger" } ] }
      },
      "name": "Is_Blogger?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [150, 700]
    },
    {
      "parameters": {
        "conditions": { "string": [ { "value1": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"platform\"]}}", "value2": "naver" } ] }
      },
      "name": "Is_Naver?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [150, 840]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/me/media",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            { "name": "image_url", "value": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"media_url\"]}}" },
            { "name": "caption", "value": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"content\"]}}" },
            { "name": "access_token", "value": "={{$node[\"Get_User_Token\"].json[\"access_token\"]}}" }
          ]
        }
      },
      "name": "Pub_Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, -20]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/me/feed",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            { "name": "message", "value": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"content\"]}}" },
            { "name": "access_token", "value": "={{$node[\"Get_User_Token\"].json[\"access_token\"]}}" }
          ]
        }
      },
      "name": "Pub_Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, 120]
    },
    {
      "parameters": {
        "url": "https://graph.threads.net/v1.0/me/threads",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            { "name": "text", "value": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"content\"]}}" },
            { "name": "access_token", "value": "={{$node[\"Get_User_Token\"].json[\"access_token\"]}}" }
          ]
        }
      },
      "name": "Pub_Threads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, 260]
    },
    {
      "parameters": {
        "url": "https://open.tiktokapis.com/v2/post/publish/video/init/",
        "method": "POST",
        "headerParametersUi": {
          "parameter": [ { "name": "Authorization", "value": "=Bearer {{$node[\"Get_User_Token\"].json[\"access_token\"]}}" } ]
        }
      },
      "name": "Pub_TikTok",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, 400]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "method": "POST",
        "headerParametersUi": {
          "parameter": [ { "name": "Authorization", "value": "=Bearer {{$node[\"Get_User_Token\"].json[\"access_token\"]}}" } ]
        }
      },
      "name": "Pub_YouTube",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, 540]
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/blogger/v3/blogs/{{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"blog_id\"]}}/posts",
        "method": "POST",
        "headerParametersUi": {
          "parameter": [ { "name": "Authorization", "value": "=Bearer {{$node[\"Get_User_Token\"].json[\"access_token\"]}}" } ]
        }
      },
      "name": "Pub_Blogger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, 680]
    },
    {
      "parameters": {
        "url": "https://openapi.naver.com/blog/writePost.json",
        "method": "POST",
        "headerParametersUi": {
          "parameter": [
            { "name": "X-Naver-Client-Id", "value": "={{$node[\"Get_Global_App_Keys\"].json[\"value\"][\"naver_client_id\"]}}" },
            { "name": "X-Naver-Client-Secret", "value": "={{$node[\"Get_Global_App_Keys\"].json[\"value\"][\"naver_client_secret\"]}}" },
            { "name": "Authorization", "value": "=Bearer {{$node[\"Get_User_Token\"].json[\"access_token\"]}}" }
          ]
        }
      },
      "name": "Pub_Naver",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, 820]
    }
  ],
  "connections": {
    "SaaS_Webhook_Trigger": { "main": [[{ "node": "Get_Global_App_Keys", "type": "main", "index": 0 }]] },
    "Get_Global_App_Keys": { "main": [[{ "node": "Get_User_Token", "type": "main", "index": 0 }]] },
    "Get_User_Token": { "main": [
      [
        { "node": "Is_Instagram?", "type": "main", "index": 0 },
        { "node": "Is_Facebook?", "type": "main", "index": 0 },
        { "node": "Is_Threads?", "type": "main", "index": 0 },
        { "node": "Is_TikTok?", "type": "main", "index": 0 },
        { "node": "Is_YouTube?", "type": "main", "index": 0 },
        { "node": "Is_Blogger?", "type": "main", "index": 0 },
        { "node": "Is_Naver?", "type": "main", "index": 0 }
      ]
    ]},
    "Is_Instagram?": { "main": [[{ "node": "Pub_Instagram", "type": "main", "index": 0 }]] },
    "Is_Facebook?": { "main": [[{ "node": "Pub_Facebook", "type": "main", "index": 0 }]] },
    "Is_Threads?": { "main": [[{ "node": "Pub_Threads", "type": "main", "index": 0 }]] },
    "Is_TikTok?": { "main": [[{ "node": "Pub_TikTok", "type": "main", "index": 0 }]] },
    "Is_YouTube?": { "main": [[{ "node": "Pub_YouTube", "type": "main", "index": 0 }]] },
    "Is_Blogger?": { "main": [[{ "node": "Pub_Blogger", "type": "main", "index": 0 }]] },
    "Is_Naver?": { "main": [[{ "node": "Pub_Naver", "type": "main", "index": 0 }]] }
  }
}
