n8n_master_workflow_v6_fixed.json
{
  "name": "Floxync_Ultra_Master_V6_Fixed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "marketing-v6",
        "options": {}
      },
      "name": "SaaS_Webhook_Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-400, 400],
      "id": "webhook-v6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM platform_config WHERE key = 'marketing_keys' LIMIT 1"
      },
      "name": "Get_Global_App_Keys",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-180, 400],
      "id": "global-keys-v6"
    },
    {
      "parameters": {
        "operation": "select",
        "table": "user_credentials",
        "filters": {
          "conditions": [
            { "key": "user_id", "operator": "equal", "value": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"user_id\"]}}" },
            { "key": "provider", "operator": "equal", "value": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"platform\"]}}" }
          ]
        }
      },
      "name": "Get_User_Token",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [40, 400],
      "id": "user-token-v6"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"platform\"]}}",
        "rules": {
          "rules": [
            { "value2": "instagram" },
            { "value2": "facebook" },
            { "value2": "threads" },
            { "value2": "tiktok" },
            { "value2": "youtube" },
            { "value2": "blogger" },
            { "value2": "naver" }
          ]
        }
      },
      "name": "Platform_Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [260, 400],
      "id": "switch-v6"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/me/media",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            { "name": "image_url", "value": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"media_url\"]}}" },
            { "name": "caption", "value": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"content\"]}}" },
            { "name": "access_token", "value": "={{$node[\"Get_User_Token\"].json[\"access_token\"]}}" }
          ]
        }
      },
      "name": "Pub_Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 0]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/me/feed",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            { "name": "message", "value": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"content\"]}}" },
            { "name": "access_token", "value": "={{$node[\"Get_User_Token\"].json[\"access_token\"]}}" }
          ]
        }
      },
      "name": "Pub_Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 130]
    },
    {
      "parameters": {
        "url": "https://graph.threads.net/v1.0/me/threads",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            { "name": "text", "value": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"content\"]}}" },
            { "name": "access_token", "value": "={{$node[\"Get_User_Token\"].json[\"access_token\"]}}" }
          ]
        }
      },
      "name": "Pub_Threads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 260]
    },
    {
      "parameters": {
        "url": "https://open.tiktokapis.com/v2/post/publish/video/init/",
        "method": "POST",
        "headerParametersUi": {
          "parameter": [ { "name": "Authorization", "value": "=Bearer {{$node[\"Get_User_Token\"].json[\"access_token\"]}}" } ]
        }
      },
      "name": "Pub_TikTok",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 390]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "method": "POST",
        "headerParametersUi": {
          "parameter": [ { "name": "Authorization", "value": "=Bearer {{$node[\"Get_User_Token\"].json[\"access_token\"]}}" } ]
        }
      },
      "name": "Pub_YouTube",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 520]
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/blogger/v3/blogs/{{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"blog_id\"]}}/posts",
        "method": "POST",
        "headerParametersUi": {
          "parameter": [ { "name": "Authorization", "value": "=Bearer {{$node[\"Get_User_Token\"].json[\"access_token\"]}}" } ]
        }
      },
      "name": "Pub_Blogger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 650]
    },
    {
      "parameters": {
        "url": "https://openapi.naver.com/blog/writePost.json",
        "method": "POST",
        "headerParametersUi": {
          "parameter": [
            { "name": "X-Naver-Client-Id", "value": "={{$node[\"Get_Global_App_Keys\"].json[\"value\"][\"naver_client_id\"]}}" },
            { "name": "X-Naver-Client-Secret", "value": "={{$node[\"Get_Global_App_Keys\"].json[\"value\"][\"naver_client_secret\"]}}" },
            { "name": "Authorization", "value": "=Bearer {{$node[\"Get_User_Token\"].json[\"access_token\"]}}" }
          ]
        }
      },
      "name": "Pub_Naver",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 780]
    }
  ],
  "connections": {
    "SaaS_Webhook_Trigger": { "main": [[{ "node": "Get_Global_App_Keys", "type": "main", "index": 0 }]] },
    "Get_Global_App_Keys": { "main": [[{ "node": "Get_User_Token", "type": "main", "index": 0 }]] },
    "Get_User_Token": { "main": [[{ "node": "Platform_Switch", "type": "main", "index": 0 }]] },
    "Platform_Switch": {
      "main": [
        [{ "node": "Pub_Instagram", "type": "main", "index": 0 }],
        [{ "node": "Pub_Facebook", "type": "main", "index": 0 }],
        [{ "node": "Pub_Threads", "type": "main", "index": 0 }],
        [{ "node": "Pub_TikTok", "type": "main", "index": 0 }],
        [{ "node": "Pub_YouTube", "type": "main", "index": 0 }],
        [{ "node": "Pub_Blogger", "type": "main", "index": 0 }],
        [{ "node": "Pub_Naver", "type": "main", "index": 0 }]
      ]
    }
  }
}
