n8n_master_workflow_v3_professional.json
{
  "name": "Floxync_Expert_Marketing_Automation_V3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "marketing-master-trigger",
        "options": {}
      },
      "name": "SaaS_Webhook_Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 400],
      "id": "webhook-trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM platform_config WHERE key = 'marketing_keys' LIMIT 1"
      },
      "name": "Get_Global_App_Keys",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [180, 400],
      "id": "global-keys"
    },
    {
      "parameters": {
        "operation": "select",
        "table": "user_credentials",
        "filters": {
          "conditions": [
            {
              "key": "user_id",
              "operator": "equal",
              "value": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"user_id\"]}}"
            },
            {
              "key": "provider",
              "operator": "equal",
              "value": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"platform\"]}}"
            }
          ]
        }
      },
      "name": "Get_User_Social_Token",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [360, 400],
      "id": "user-token"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"platform\"]}}",
        "rules": {
          "rules": [
            { "value2": "instagram", "nextChain": 0 },
            { "value2": "facebook", "nextChain": 1 },
            { "value2": "tiktok", "nextChain": 2 },
            { "value2": "youtube", "nextChain": 3 },
            { "value2": "blogger", "nextChain": 4 },
            { "value2": "naver", "nextChain": 5 }
          ]
        }
      },
      "name": "Platform_Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [550, 400],
      "id": "platform-switch"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/me/media",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            { "name": "image_url", "value": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"media_url\"]}}" },
            { "name": "caption", "value": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"content\"]}}" },
            { "name": "access_token", "value": "={{$node[\"Get_User_Social_Token\"].json[\"access_token\"]}}" }
          ]
        }
      },
      "name": "Node_Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 100]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/me/feed",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            { "name": "message", "value": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"content\"]}}" },
            { "name": "link", "value": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"media_url\"]}}" },
            { "name": "access_token", "value": "={{$node[\"Get_User_Social_Token\"].json[\"access_token\"]}}" }
          ]
        }
      },
      "name": "Node_Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 220]
    },
    {
      "parameters": {
        "url": "https://open.tiktokapis.com/v2/post/publish/video/init/",
        "method": "POST",
        "headerParametersUi": {
          "parameter": [
            { "name": "Authorization", "value": "=Bearer {{$node[\"Get_User_Social_Token\"].json[\"access_token\"]}}" }
          ]
        },
        "bodyParametersUi": {
          "parameter": [
            { "name": "source_url", "value": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"media_url\"]}}" }
          ]
        }
      },
      "name": "Node_TikTok",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 340]
    },
    {
      "parameters": {
        "resource": "video",
        "title": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"title\"]}}",
        "videoFile": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"media_url\"]}}",
        "additionalFields": {
          "description": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"content\"]}}"
        }
      },
      "name": "Node_YouTube_Shorts",
      "type": "n8n-nodes-base.youtube",
      "typeVersion": 1,
      "position": [800, 460]
    },
    {
      "parameters": {
        "blogId": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"blog_id\"]}}",
        "title": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"title\"]}}",
        "content": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"content\"]}}"
      },
      "name": "Node_Google_Blogger",
      "type": "n8n-nodes-base.googleBlogger",
      "typeVersion": 1,
      "position": [800, 580]
    },
    {
      "parameters": {
        "url": "https://openapi.naver.com/blog/writePost.json",
        "method": "POST",
        "headerParametersUi": {
          "parameter": [
            { "name": "X-Naver-Client-Id", "value": "={{$node[\"Get_Global_App_Keys\"].json[\"value\"][\"naver_client_id\"]}}" },
            { "name": "X-Naver-Client-Secret", "value": "={{$node[\"Get_Global_App_Keys\"].json[\"value\"][\"naver_client_secret\"]}}" },
            { "name": "Authorization", "value": "=Bearer {{$node[\"Get_User_Social_Token\"].json[\"access_token\"]}}" }
          ]
        },
        "bodyParametersUi": {
          "parameter": [
            { "name": "title", "value": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"title\"]}}" },
            { "name": "contents", "value": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"content\"]}}" }
          ]
        }
      },
      "name": "Node_Naver_Blog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 700]
    },
    {
      "parameters": {
        "operation": "update",
        "table": "marketing_posts",
        "id": "={{$node[\"SaaS_Webhook_Trigger\"].json[\"body\"][\"post_id\"]}}",
        "columns": {
          "status": "published",
          "published_at": "={{new Date().toISOString()}}"
        }
      },
      "name": "Update_Post_Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1100, 400]
    }
  ],
  "connections": {
    "SaaS_Webhook_Trigger": { "main": [[{ "node": "Get_Global_App_Keys", "type": "main", "index": 0 }]] },
    "Get_Global_App_Keys": { "main": [[{ "node": "Get_User_Social_Token", "type": "main", "index": 0 }]] },
    "Get_User_Social_Token": { "main": [[{ "node": "Platform_Switch", "type": "main", "index": 0 }]] },
    "Platform_Switch": {
      "main": [
        [{ "node": "Node_Instagram", "type": "main", "index": 0 }],
        [{ "node": "Node_Facebook", "type": "main", "index": 0 }],
        [{ "node": "Node_TikTok", "type": "main", "index": 0 }],
        [{ "node": "Node_YouTube_Shorts", "type": "main", "index": 0 }],
        [{ "node": "Node_Google_Blogger", "type": "main", "index": 0 }],
        [{ "node": "Node_Naver_Blog", "type": "main", "index": 0 }]
      ]
    },
    "Node_Instagram": { "main": [[{ "node": "Update_Post_Status", "type": "main", "index": 0 }]] },
    "Node_Facebook": { "main": [[{ "node": "Update_Post_Status", "type": "main", "index": 0 }]] },
    "Node_TikTok": { "main": [[{ "node": "Update_Post_Status", "type": "main", "index": 0 }]] },
    "Node_YouTube_Shorts": { "main": [[{ "node": "Update_Post_Status", "type": "main", "index": 0 }]] },
    "Node_Google_Blogger": { "main": [[{ "node": "Update_Post_Status", "type": "main", "index": 0 }]] },
    "Node_Naver_Blog": { "main": [[{ "node": "Update_Post_Status", "type": "main", "index": 0 }]] }
  }
}
